
    body {
        font-family: 'Baloo Bhai 2', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        
        background: url('img/bg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;

    }
    .left {
        display: inline-block;
        position: absolute;
        left: 34px;
        top: 0px;
        color: pink;
        font-size: 55px;
        text-align: center;
    }

    .right {
        position: absolute;
        right: 34px;
        top: 18px;
        display: inline-block;
        /* border: 2px solid ; */
    }

    .mid {
        display: block;
        width: 45%;
        margin: 18px auto;
    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        font-size: 25px;
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 34px 23px;
    }

  
    navbar li a.active {
        text-decoration: underline;
        color: rgb(63, 55, 55);
    }

    .btn {
        font-family: 'Baloo Bhai 2', cursive;
        margin: 4px 9px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid gray;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: rgb(70, 66, 66);
    }

    .container {
        border: 2px solid green;
        margin: 106px 90px;
        padding: 35px 38px;
        width: 20%;
        border-radius: 2px;
    }

    .form-group input {
        font-family: 'Baloo Bhai 2', cursive;
        text-align: center;
        display: block;
        width: 180px;
        padding: 3px;
        border: 2px solid black;
        margin: 10px auto;
        font-size: 20px;
        border-radius: 15px;
    }

    .container h1 {
        text-align: center;
    }

    .container button {
        display: block;
        width: 54%;
        margin: auto;

    }
